/**~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * @author Nicolás Penagos Montoya
 * nicolas.penagosm98@gmail.com
 **~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

 /*
 *  Styles
 */
 *{
    margin: 0px;
    padding: 0px;
}

div#containerDiv{
    border: 2px solid black;
    width: 400px;
    margin: auto;
    margin-top: 20px;
 
}

div#itemsDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

div#headerDiv{
    background-color:royalblue;
    width: 400px;
    height: 45px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    color: white;
    text-align: center;
    line-height: 45px;
}

button#addButton{
    height: 35px;
    width: 100px;
    background-color: royalblue;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: large;
    border: 2px solid black;
}

.input{
    width: 250px;
    height: 37px;
    margin-top: 10px;
    border: 2px solid black;
    padding-left: 10px;
    font-size: large;
}

